# dbms and db connection data
spring.application.name=prometheus
spring.datasource.url=jdbc:mysql://localhost:3306/prometheus?useSSL=false&allowPublicKeyRetrieval=true
spring.datasource.username=root
spring.datasource.password=achselle9

spring.jpa.properties.hibernate.dialect = org.hibernate.dialect.MySQLDialect
spring.jpa.hibernate.ddl-auto=update

# log level
logging.level.ch.zhaw.prometheus=INFO
logging.level.org=ERROR
logging.level.com=ERROR

# tomcat server port
server.port = 8080

# continuous evaluation (Iteration 4)
prometheus.runtime.tick.enabled=false
prometheus.runtime.tick.delay-ms=1000

# admin access-code management
prometheus.admin.token=
