APP_ENV=production
APP_BASE_URL=https://participate.siralab.ch

DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=sira_participate
DB_USERNAME=
DB_PASSWORD=
DB_CHARSET=utf8mb4

MAIL_FROM=no-reply@siralab.ch
MAIL_FROM_NAME="SIRA Lab Studie"
ADMIN_NOTIFY_EMAIL=
MAIL_TRANSPORT=mail
MAIL_LOG_PATH=.tmp/mail
